<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container body-content">

    <form th:object="${category}" method="post">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input th:field="*{name}" />
            <div th:errors="*{name}"></div>
        </div>

        <input type="submit" value="Add Category" />
    </form>

</div>
</body>
</html>