<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

    <title th:text="${form.menu.name}"></title>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container body-content">

    <form action="/menu/add-item" th:object="${form}" method="post">
        <label>Cheeses:</label>
            <select name="cheeseId">
                <option th:each="cheese : *{cheeses}" th:text="${cheese.name}" th:value="${cheese.id}"></option>
            </select>
            <input type="hidden" name="menuId" th:value="*{menu.id}" />
        <input type="submit" value="Add Cheese" />
    </form>


</div>

</body>
</html>